torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
pandas
numpy
scipy
scikit-image
scikit-learn
matplotlib
nibabel
plotly
tqdm
mlflow==3.14.0
ipython
notebook
opencv-python-headless
pillow
pydicom
natsort
sqlalchemy
h5py
monai
pytorch-lightning==2.4.0
pycm
joblib
tables
xlrd
openpyxl
concurrent-log-handler
wand
higher
